.animation-context {
  border: 1px dashed blue;
  position: relative;
}
.sprite {
  border: 1px dotted green;
}
.some-container.with-padded-animation-context .animation-context {
  padding: 20px;
}
.columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.column {
  padding: 10px;
}
.column:first-child {
  border-right: 1px solid gray;
}