.grid {
  display: flex;
  gap: 350px;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  width: 150px;
}

.list.wide {
  width: 250px;
}

.list > li {
  display: block;
  padding: 10px;
  cursor: pointer;
  background: #2b81af;
  color: #fff;
  margin-bottom: 2px;
  text-align: center;
}
