.home-reno-list {
  --outline-bg: #F45B69;
  --outline-text: #FFF;

  --form-bg: #E4FDE1;
  --form-text: #000;

  --gallery-bg:  #456990;
  --gallery-text: #FFF;
}

.outline {
  background-color: var(--outline-bg);
  color: var(--outline-text);
}

.form {
  background-color: var(--form-bg);
  color: var(--form-text);
}

.gallery {
  background-color: var(--gallery-bg);
  color: var(--gallery-text);
}
