node_modules
.DS_Store
/.idea/
*.log
.tmp
.dist
/junit
/playwright-report
.eslintcache
schema_tmp.sql

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
/.nx/cache
/.nx/workspace-data
