.editor {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}
.file-tree {
  min-width: 8rem;
}
.file-tree + div {
  flex-grow: 3;
}
.preview {
  flex-grow: 2;
  min-width: 10rem;
}

.item.file:hover {
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}
.item.file.selected,
.item.file:active {
  background-color: blue;
  color: white;
}

.indent-0 {
  padding-left: 0;
}
.indent-1 {
  padding-left: 1rem;
}
.indent-2 {
  padding-left: 2rem;
}
.indent-3 {
  padding-left: 3rem;
}
.indent-4 {
  padding-left: 4rem;
}

.card-edit label {
  display: block;
  padding: 0.75rem;
  margin: 1rem auto;
  border: solid gray 1px;
  text-transform: capitalize;
  border-radius: 5px;
}

.card-edit input[type=text],.card-preview input[type=number] {
  width: 100%;
  margin-top: .5rem;
  display: block;
}

.card-edit textarea {
  width: 100%;
  min-height: 5rem;
  margin-top: .5rem;
  display: block;
}

.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1rem;
}

.schema {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid black;
}

.card-catalog {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  gap: 1rem;
  padding-left: 0;
}

.dialog-box {
  position:absolute;
  z-index:1;
  top:10vh;
  width: 50vw;
  min-height: 50vh;
  overflow-y: auto;
}

.catalog-entry-editor {
  margin-top: 1rem;
}
