.editor {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}
.file-tree {
  min-width: 8rem;
}
.file-tree + div {
  flex-grow: 3;
}
.preview {
  flex-grow: 2;
  min-width: 10rem;
}

.item.file:hover {
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}
.item.file.selected,
.item.file:active {
  background-color: blue;
  color: white;
}

.indent-0 {
  padding-left: 0;
}
.indent-1 {
  padding-left: 1rem;
}
.indent-2 {
  padding-left: 2rem;
}
.indent-3 {
  padding-left: 3rem;
}
.indent-4 {
  padding-left: 4rem;
}

.card-edit label {
  display: block;
  padding: 0.75rem;
  margin: 1rem;
  border: solid gray 1px;
  text-transform: capitalize;
  border-radius: 5px;
}

.card-edit input[type=text],.card-preview input[type=number] {
  width: 100%;
  margin-top: .5rem;
  display: block;
}

.card-edit textarea {
  width: 100%;
  min-height: 5rem;
  margin-top: .5rem;
  display: block;
}