input,
textarea,
button {
  font: inherit;
}

.editor {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}
.file-tree {
  min-width: 8rem;
}
.file-tree + div {
  flex-grow: 3;
}
.preview {
  flex-grow: 2;
  min-width: 10rem;
}

.preview > * + * {
  margin-top: 1rem;
}

.item.file:hover {
  background-color: cornflowerblue;
  color: white;
  cursor: pointer;
}
.item.file.selected,
.item.file:active {
  background-color: blue;
  color: white;
}

.indent-0 {
  padding-left: 0;
}
.indent-1 {
  padding-left: 1rem;
}
.indent-2 {
  padding-left: 2rem;
}
.indent-3 {
  padding-left: 3rem;
}
.indent-4 {
  padding-left: 4rem;
}

.schema {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: #faebd769;
}

.card-catalog {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  gap: 1rem;
  padding-left: 0;
}

.card-catalog li > button {
  margin-top: 1rem;
}

.dialog-box {
  position:absolute;
  z-index:1;
  top:10vh;
  width: 50vw;
  min-height: 50vh;
  overflow-y: auto;
}

.dialog-box > * + * {
  margin-top: 1rem;
}

.catalog-entry-editor {
  margin-top: 1rem;
}

.catalog-entry-editor > fieldset {
  background-color: aliceblue;
}

.catalog-entry-editor > fieldset > * + * {
  margin-top: 1rem;
}

.error {
  color: red;
}


/* Cards */
.BlogPerson {
  background-color: #87e9f6;
}

.BlogPost {
  background-color: #ffc9d2;
}

.Employee {
  background-color: darkgray;
}
