{{this.renderDetector}}
<div class="animation-context" {{did-insert this.didInsertEl}} ...attributes>
  <div {{did-insert this.didInsertOrphansEl}}></div> {{!-- JS appends and removes here --}}
  {{yield this}}
</div>
