.card {
  --header-height: calc(var(--card-padding, 10px) * 2 + 1.5em);
  border: 1px solid black;
  max-width: 300px;
  border-radius: var(--card-border-radius);
  overflow: visible;
  background: white;
}

.header {
  display: flex;
  justify-content: space-between;
  height: var(--header-height);
  padding: var(--card-padding, 10px);
}

.title {
  font-weight: 700;
  font-size: 18px;
}

.card.MIN {
  --card-border-radius: 4px;
  --card-padding: 10px;
  height: 80px;
}

.card.EXPANDED {
  --card-border-radius: 4px;
  --card-padding: 10px;
  height: 200px;
}

.card.MAX {
  --card-border-radius: 12px;
  --card-padding: 10px;
  height: 400px;
  width: 300px;
}

/* .card.MAX .minimize-button {}

.card.EXPANDED .minimize-button {}
.card.EXPANDED .maximize-button {}

.card.MIN .expand-button {} */

.suggestion-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.scrollable {
  overflow: visible;
  max-height: 90%;
  padding: 0 var(--card-padding, 10px) var(--card-padding, 10px) var(--card-padding, 10px);
}

.transform-inversion {
  transform-origin: top left;
  transform:
    scaleX(var(--animation-scale-inversion-x, 1))
    scaleY(var(--animation-scale-inversion-y, 1));
}

.transform-inversion.width-adjust {
  width: calc(100% / var(--animation-scale-inversion-x, 1));
}

.transform-inversion.top-adjust {
  position: relative;
  top: calc(var(--header-height) * var(--animation-scale-inversion-y, 1) - var(--header-height));
}
