.card {
  border: 1px solid black;
  max-width: 300px;
  padding: var(--card-padding, 6px);
  border-radius: var(--card-border-radius);
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 700;
  font-size: 18px;
}

.card.MIN {
  --card-border-radius: 4px;
  height: 80px;
}

.card.EXPANDED {
  --card-border-radius: 4px;
  height: 200px;
}

.card.MAX {
  --card-border-radius: 12px;
  --card-padding: 10px;
  height: 400px;
  width: 300px;
}

/* .card.MAX .minimize-button {}

.card.EXPANDED .minimize-button {}
.card.EXPANDED .maximize-button {}

.card.MIN .expand-button {} */

.suggestion-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.scrollable {
  overflow-y: auto;
  max-height: 90%;
}
