.suggestion-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.image-list.MIN {
  display: none;
}

.image-list.EXPANDED {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 60px;
  gap: 6px;
}

.image-list.MAX {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-list-item {
  list-style-type: none;
}

/* Note: Loading delays will cause these images to move weirdly, so we have to force a size. */
.image {
  width: 100px;
  height: 60px;
  object-fit: cover;
}

