.suggestion-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.image-list.EXPANDED {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 60px;
  gap: 6px;
}

.image-list.MAX {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-list > * img {
  max-width: 120px;
}

