{{page-title "Animations"}}

<ul local-class="menu">
  <li>
    <LinkTo @route="index">
      Basics
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="list-detail">
      List Detail
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="ea-demos">
      e-animated Demos
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="interruption">
      Interruptions
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="boxel">
      Boxel Demos
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="routes">
      Route Transition
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="motion-study">
      Motion Study
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="accordion">
      Accordion
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="nested-contexts">
      Nested Contexts
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="context-selection">
      Context Selection
    </LinkTo>
  </li>
</ul>

{{outlet}}