{{page-title "Animations"}}

<ul local-class="menu">
  {{!-- <li>
    <LinkTo @route="index">
      Basics
    </LinkTo>
  </li> --}}
  <li>
    <LinkTo @route="interruption">
      Interruptions
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="routes">
      Route Transition
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="motion-study">
      Motion Study
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="accordion">
      Accordion
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="nested-contexts">
      Nested Contexts
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="nested-sprites">
      Nested Sprites
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="context-selection">
      Context Selection
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="removed-sprite-interruption">
      Removed Sprite Interruption
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="list">
      List
    </LinkTo>
  </li>
  <li>
    <LinkTo @route="simple-orchestration">
      Simple Orchestration
    </LinkTo>
  </li>
</ul>

{{outlet}}