<button type="button" {{on "click" this.toggleMove}}>Move</button>

<AnimationContext @use={{this.transition}}>
  <div {{sprite id="foo"}} style="width: 50px; height: 50px; background: red; margin-left: {{this.leftPosition}};"></div>
</AnimationContext>