@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
  src:
    local('IBM Plex Sans Var'),
    local('IBMPlexSansVar'),
    local('IBM Plex Sans Var Regular'),
    local('IBMPlexSansVar-Regular'),
    url('./IBMPlexSansVar-Roman.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100 700;
  font-display: swap;
  src:
    local('IBM Plex Sans Var Italic'),
    local('IBMPlexSansVar-Italic'),
    url('./IBMPlexSansVar-Italic.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local('IBM Plex Mono'),
    local('IBMPlexMono'),
    url('./IBMPlexMono-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    local('IBM Plex Mono Medium'),
    url('./IBMPlexMono-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    local('IBM Plex Mono SemiBold'),
    url('./IBMPlexMono-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    local('IBM Plex Mono Bold'),
    local('IBMPlexMono-Bold'),
    url('./IBMPlexMono-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src:
    local('IBM Plex Mono Italic'),
    url('./IBMPlexMono-Italic.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src:
    local('IBM Plex Mono Medium Italic'),
    url('./IBMPlexMono-MediumItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src:
    local('IBM Plex Mono SemiBold Italic'),
    url('./IBMPlexMono-SemiBoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src:
    local('IBM Plex Mono Bold Italic'),
    url('./IBMPlexMono-BoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    local('IBM Plex Serif'),
    local('IBM Plex Serif Regular'),
    local('IBMPlexSerif'),
    local('IBMPlexSerif-Regular'),
    url('./IBMPlexSerif-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    local('IBM Plex Serif Medium'),
    local('IBMPlexSerif-Medium'),
    url('./IBMPlexSerif-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    local('IBM Plex Serif SemiBold'),
    local('IBMPlexSerif-SemiBold'),
    url('./IBMPlexSerif-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src:
    local('IBM Plex Serif Bold'),
    local('IBMPlexSerif-Bold'),
    url('./IBMPlexSerif-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src:
    local('IBM Plex Serif Italic'),
    local('IBMPlexSerif-Italic'),
    url('./IBMPlexSerif-Italic.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src:
    local('IBM Plex Serif Medium Italic'),
    local('IBMPlexSerif-MediumItalic'),
    url('./IBMPlexSerif-MediumItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src:
    local('IBM Plex Serif SemiBold Italic'),
    local('IBMPlexSerif-SemiBoldItalic'),
    url('./IBMPlexSerif-SemiBoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src:
    local('IBM Plex Serif Bold Italic'),
    local('IBMPlexSerif-BoldItalic'),
    url('./IBMPlexSerif-BoldItalic.woff2') format('woff2');
}
