@font-face {
  font-family: 'Poppins';
  src: url('./Poppins-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('./Poppins-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('./Poppins-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins';
  src: url('./Poppins-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('./Poppins-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Poppins';
  src: url('./Poppins-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

/* Fallback fonts */
/* @font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans-Light.ttf');
  font-weight: 300;
} */

/* @font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
} */

@font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans-Regular.ttf');
  font-weight: 400;
}

/* @font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans-Italic.ttf');
  font-style: italic;
} */

@font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans-SemiBold.ttf');
  font-weight: 600;
}

/* @font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
} */

@font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans-Bold.ttf');
  font-weight: 700;
}

/* @font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
} */

/* @font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans-ExtraBold.ttf');
  font-weight: 800;
} */

/* @font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
} */

/* @font-face {
  font-family: 'Roboto Mono';
  src: url('./RobotoMono-Regular.ttf');
  font-weight: 400;
} */
