@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 100 700;
  font-display: block;
  src: url('./IBMPlexSansVar-Roman.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 100 700;
  font-display: block;
  src: url('./IBMPlexSansVar-Italic.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: url('./IBMPlexMono-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 500;
  font-style: normal;
  font-display: block;
  src: url('./IBMPlexMono-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 600;
  font-style: normal;
  font-display: block;
  src: url('./IBMPlexMono-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-style: normal;
  font-display: block;
  src: url('./IBMPlexMono-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 400;
  font-style: italic;
  font-display: block;
  src: url('./IBMPlexMono-Italic.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 500;
  font-style: italic;
  font-display: block;
  src: url('./IBMPlexMono-MediumItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 600;
  font-style: italic;
  font-display: block;
  src: url('./IBMPlexMono-SemiBoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-weight: 700;
  font-style: italic;
  font-display: block;
  src: url('./IBMPlexMono-BoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: url('./IBMPlexSerif-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 500;
  font-style: normal;
  font-display: block;
  src: url('./IBMPlexSerif-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-style: normal;
  font-display: block;
  src: url('./IBMPlexSerif-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 700;
  font-style: normal;
  font-display: block;
  src: url('./IBMPlexSerif-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 400;
  font-style: italic;
  font-display: block;
  src: url('./IBMPlexSerif-Italic.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 500;
  font-style: italic;
  font-display: block;
  src: url('./IBMPlexSerif-MediumItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 600;
  font-style: italic;
  font-display: block;
  src: url('./IBMPlexSerif-SemiBoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-weight: 700;
  font-style: italic;
  font-display: block;
  src: url('./IBMPlexSerif-BoldItalic.woff2') format('woff2');
}
