/* Note on css layers: css @layer rules are used to create a layering system for the css.
   The order of the layers is important as it determines the precedence of the styles.
   The layers are defined in the following order:
   1. reset: for resetting default browser styles
   2. utilities: for utility classes that can be used throughout the application
   3. boxelComponentL1: for base component styles
   4. boxelComponentL2: for component styles that build on top of base styles
   5. boxelComponentL3: for component styles that build on top of L2 styles
   This layering system allows for easier overrides and customizations of styles at different levels.
   More info: https://developer.mozilla.org/en-US/docs/Web/CSS/@layer
*/
@layer reset, utilities, boxelComponentL1, boxelComponentL2, boxelComponentL3;

@layer reset {
  * {
    box-sizing: border-box;
  }

  :root {
    @supports (interpolate-size: allow-keywords) {
      interpolate-size: allow-keywords;
    }
  }

  #isolated-render {
    display: none;
  }

  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
    color: var(--boxel-dark, #000);
    font-family: var(
      --boxel-font-family,
      'Open Sans',
      Helvetica,
      Arial,
      sans-serif
    );
    background-color: var(--boxel-light, #fff);
    font-size: 13px;
    line-height: calc(18 / 13);
    overscroll-behavior: none;
  }

  body.has-modal {
    overflow: hidden;
  }

  a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
  }

  button {
    display: inline-block;
    font: inherit;
  }

  img,
  svg {
    display: inline-block;
    max-width: 100%;
  }

  [alt] {
    color: currentColor;
    font: var(--boxel-font-xs);
    letter-spacing: var(--boxel-lsp-sm);
  }

  a:hover {
    color: var(--boxel-highlight);
    cursor: pointer;
  }

  a:focus {
    outline: var(--boxel-outline);
  }

  a:focus:not(:focus-visible) {
    outline-color: transparent;
  }

  button:hover:not(:disabled),
  [role='button']:hover:not(:disabled, [aria-disabled='true']) {
    cursor: pointer;
  }

  button:focus:not(:disabled),
  [role='button']:focus:not(:disabled) {
    outline: var(--boxel-outline);
  }

  button:focus:not(:focus-visible),
  [role='button']:focus:not(:focus-visible) {
    outline-color: transparent;
  }

  button,
  input,
  select,
  textarea {
    font: inherit;
    letter-spacing: inherit;
  }

  input:not([type='color']):disabled,
  select:disabled,
  textarea:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  input[type='color']:disabled {
    pointer-events: none;
  }

  input:focus:not(:focus-visible),
  textarea:focus:not(:focus-visible) {
    outline-color: transparent;
  }

  input:focus-visible,
  textarea:focus-visible {
    outline-color: var(--boxel-highlight);
  }
}

@layer utilities {
  .boxel-contents-only {
    display: contents;
  }

  /* Hides content visually only
  (accessible via screen readers) */
  .boxel-sr-only:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
  }

  /* may need to add "max-width: 100%;" in some cases */
  .boxel-ellipsize {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* can be used via `--boxel-infinite-spin-animation` css-variable. example:
    @media (prefers-reduced-motion: no-preference) {
      .loading-icon {
        animation: var(--boxel-infinite-spin-animation);
      }
    }
  */
  @keyframes boxel-spin {
    to {
      transform: rotate(360deg);
    }
  }
}

#ember-basic-dropdown-wormhole
  .boxel-dropdown__content.ember-basic-dropdown-content {
  z-index: calc(var(--boxel-layer-modal-urgent) + 1);
}
