<div class="h-12 bg-green-light flex items-center justify-center" {{sprite id="route-content-other"}}>
  <LinkTo @route="routes.index" class="text-white font-semibold">
    Go back!
  </LinkTo>
</div>