/* NOTE: Move these inside the scoped style element
in the gts template when css-encapsulation is enabled */

.boxel-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--boxel-sp-xxxs) 0 var(--boxel-sp-sm);
  min-height: var(--boxel-header-min-height, 1.875rem); /* 30px */
  color: var(--boxel-header-text-color, var(--boxel-dark));
  border-top-right-radius: calc(var(--boxel-border-radius) - 1px);
  border-top-left-radius: calc(var(--boxel-border-radius) - 1px);
  font: 600 var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
  transition: background-color var(--boxel-transition),
    color var(--boxel-transition);
}
.boxel-header--large {
  padding: var(--boxel-sp-xl);
  font: 700 var(--boxel-font-lg);
  letter-spacing: normal;
  text-transform: none;
}
.boxel-header--has-background {
  background-color: var(--boxel-header-background-color, var(--boxel-100));
}
.boxel-header--highlighted {
  background-color: var(--boxel-highlight);
}
.boxel-header__content {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}
