/* NOTE: Move these inside the scoped style element
in the gts template when css-encapsulation is enabled */

.boxel-icon-button {
  --boxel-icon-button-width: 40px;
  --boxel-icon-button-height: 40px;

  width: var(--boxel-icon-button-width);
  height: var(--boxel-icon-button-height);
  padding: 0;
  background: none;
  border: 1px solid transparent;
  z-index: 0;
}

.boxel-icon-button:hover {
  cursor: pointer;
}

.boxel-icon-button--primary {
  --icon-bg: var(--boxel-highlight);
  --icon-border: var(--boxel-highlight);
}

.boxel-icon-button--secondary {
  --icon-color: var(--boxel-highlight);

  border: 1px solid rgb(255 255 255 / 35%);
  border-radius: 100px;
  background-color: #41404d;
}

.boxel-icon-button--secondary:hover {
  background-color: var(--boxel-purple-800);
}

.boxel-icon-button > svg {
  display: block;
  margin: auto;
}

.boxel-icon-button--tooltip {
  pointer-events: unset !important;
  position: relative;
}

.boxel-icon-button--tooltip::after {
  content: attr(data-hover);
  opacity: 0;
  background-color: rgb(0 0 0 / 80%);
  box-shadow: 0 0 0 1px var(--boxel-light-500);
  color: var(--boxel-light);
  text-align: center;
  border-radius: var(--boxel-border-radius-sm);
  padding: var(--boxel-sp-xxxs) var(--boxel-sp-sm);
  width: max-content;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
}

.boxel-icon-button--tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

.boxel-icon-button--tooltip__right::after {
  left: 140%;
  top: 10%;
}

.boxel-icon-button--tooltip__left::after {
  right: 140%;
  top: 10%;
}

.boxel-icon-button--tooltip__above::after {
  bottom: 110%;
}

.boxel-icon-button--tooltip__below::after {
  top: 110%;
}
