/* NOTE: Move these inside the scoped style element
in the gts template when css-encapsulation is enabled */

.boxel-message {
  /* Note: avatar size should not be set to be larger than 60px or smaller than 20px. */
  --boxel-message-avatar-size: 2.5rem; /* 40px. */
  --boxel-message-meta-height: 1.25rem; /* 20px */
  --boxel-message-gap: var(--boxel-sp);
  --boxel-message-margin-left: calc(
    var(--boxel-message-avatar-size) + var(--boxel-message-gap)
  );
}

.boxel-message--hide-meta {
  min-height: 0;
}

.boxel-message__meta {
  display: grid;
  grid-template-columns: var(--boxel-message-avatar-size) 1fr;
  grid-template-rows: var(--boxel-message-meta-height);
  align-items: start;
  gap: var(--boxel-message-gap);
}

.boxel-message--full-width .boxel-message__meta {
  align-items: center;
}

.boxel-message__avatar-img {
  width: var(--boxel-message-avatar-size);
  height: var(--boxel-message-avatar-size);
  border-radius: 100px;
}

.boxel-message__avatar-img--not-round {
  border-radius: initial;
}

.boxel-message__info {
  display: flex;
  white-space: nowrap;
  margin: 0;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-sm);
}

.boxel-message__name {
  margin-right: var(--boxel-sp);
  font-weight: 700;
}

.boxel-message__time {
  color: var(--boxel-500);
}

.boxel-message__content {
  /* mimic the grid using margins */
  margin-left: var(--boxel-message-margin-left);
  margin-top: 3px;
  line-height: 1.5;
}

.boxel-message--full-width .boxel-message__content {
  margin-left: 0;
  margin-top: var(--boxel-sp);
}

/* spacing for sequential thread messages */
.boxel-message + .boxel-message {
  margin-top: var(--boxel-sp-xl);
}

.boxel-message + .boxel-message--hide-meta {
  margin-top: var(--boxel-sp);
}
