<AnimationContext @use={{this.transition}}>
  <ul local-class="card-list">
    {{#each this.cardList as |card|}}
      <li local-class="card-list-item">
        {{component
          (concat "home-reno-v2/" card.type)
          id=card.id
          state=card.state
          model=card.model
          canUpdateState=card.canUpdateState
          card=card
          expand=this.expand
          minimize=this.minimize
          maximize=this.maximize
          suggestions=card.suggestions
        }}
      </li>
    {{/each}}
  </ul>
</AnimationContext>
<svg viewBox="0 0 1000 400" width="5" height="5">
  <clipPath id="main-context-clip">
    <rect
      width="5000"
      height="400"
    >

    </rect>
  </clipPath>
  <clipPath id="card-clip">
    <rect
      y="1"
      width="20"
      height="398"
    >

    </rect>
  </clipPath>
</svg>