:root {
  --boxel-ai-purple: #272331;

  --host-ai-panel-popover-z-index: 900;
  --host-ai-panel-button-z-index: 800;
  --host-ai-panel-z-index: 700;

  --host-top-left-menu-z-index: var(--host-ai-panel-z-index);

  --host-profile-popover-z-index: 500;
  --host-profile-z-index: 400;

  --host-search-sheet-z-index: 300;

  --host-workspace-chooser-z-index: 200;
}

.error {
  color: var(--boxel-error-100);
}

.link {
  color: var(--boxel-highlight);
  text-decoration: underline;
}
.link:hover {
  color: var(--boxel-highlight-hover);
}

/* Style Monaco read-only tooltip, copied from packages/boxel-ui/addon/src/components/tooltip/index.gts */
.ember-application .monaco-editor .monaco-editor-overlaymessage {
  background-color: rgb(0 0 0 / 80%);
  box-shadow: 0 0 0 1px var(--boxel-light-500);
  color: var(--boxel-light);
  text-align: center;
  border-radius: var(--boxel-border-radius-sm);
  padding: var(--boxel-sp-xxxs) var(--boxel-sp-sm);
  width: max-content;
  position: absolute;
  font: var(--boxel-tooltip-font, var(--boxel-font-xs));
  z-index: 5;
}

.ember-application .monaco-editor .monaco-editor-overlaymessage .message {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

.ember-application .monaco-editor .monaco-editor-overlaymessage .anchor.top, .ember-application .monaco-editor .monaco-editor-overlaymessage .anchor.below {
  display: none;
}
