/** BOXEL STYLES **/

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

/* fallback font */
@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-SemiBold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../../fonts/OpenSans-Bold.ttf');
  font-weight: 700;
}

* {
  box-sizing: border-box;
}

#isolated-render {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: var(--boxel-dark, #000);
  font-family: var(
    --boxel-font-family,
    'Open Sans',
    Helvetica,
    Arial,
    sans-serif
  );
  background-color: var(--boxel-light, #fff);
  font-size: 13px;
  line-height: calc(18 / 13);
  overscroll-behavior: none;
}

body.has-modal {
  overflow: hidden;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

button {
  display: inline-block;
  font: inherit;
}

img,
svg {
  display: inline-block;
}

a:hover {
  color: var(--boxel-highlight);
  cursor: pointer;
}

a:focus {
  outline: var(--boxel-outline);
}

a:focus:not(:focus-visible) {
  outline-color: transparent;
}

button:hover:not(:disabled),
[role='button']:hover:not(:disabled, [aria-disabled='true']) {
  cursor: pointer;
}

button:focus:not(:disabled),
[role='button']:focus:not(:disabled) {
  outline: var(--boxel-outline);
}

button:focus:not(:focus-visible),
[role='button']:focus:not(:focus-visible) {
  outline-color: transparent;
}

input:focus,
select:focus,
textarea:focus {
  outline-color: var(--boxel-highlight);
}

/* Hides content visually only
  (accessible via screen readers) */
.boxel-sr-only:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

:root {
  --boxel-font-family: 'Poppins', 'Open Sans', helvetica, arial, sans-serif;
  --boxel-monospace-font-family: 'Roboto Mono', 'Courier New', courier,
    monospace;
  --boxel-font-xl: var(--boxel-font-size-xl) / calc(43 / 32)
    var(--boxel-font-family);
  --boxel-font-lg: var(--boxel-font-size-lg) / calc(30 / 22)
    var(--boxel-font-family);
  --boxel-font: var(--boxel-font-size) / calc(22 / 16) var(--boxel-font-family); /* default */
  --boxel-font-sm: var(--boxel-font-size-sm) / calc(18 / 13)
    var(--boxel-font-family);
  --boxel-font-xs: var(--boxel-font-size-xs) / calc(15 / 11)
    var(--boxel-font-family);

  /* font-sizes */
  --boxel-font-size-xl: 2rem;
  --boxel-font-size-lg: 1.375rem;
  --boxel-font-size: 1rem; /* default - 16px */
  --boxel-font-size-sm: 0.8125rem;
  --boxel-font-size-xs: 0.6875rem;

  /* letter-spacing */
  --boxel-lsp-xxl: 0.1em;
  --boxel-lsp-xl: 0.05em;
  --boxel-lsp-lg: 0.035em;
  --boxel-lsp: 0.025em;
  --boxel-lsp-sm: 0.015em;
  --boxel-lsp-xs: 0.01em;
  --boxel-lsp-xxs: 0.005em;

  /* Modular scale for spacing */
  --boxel-spacing: 1.25rem; /* base size (20px) */
  --boxel-ratio: 1.333; /* scale (based on "Perfect Fourth" scale) */
  --boxel-sp-xxxs: calc(var(--boxel-sp-xxs) / var(--boxel-ratio)); /* 6.33px */
  --boxel-sp-xxs: calc(var(--boxel-sp-xs) / var(--boxel-ratio)); /* 8.44px */
  --boxel-sp-xs: calc(var(--boxel-sp-sm) / var(--boxel-ratio)); /* 11.26px */
  --boxel-sp-sm: calc(var(--boxel-sp) / var(--boxel-ratio)); /* 15px */
  --boxel-sp: var(--boxel-spacing); /* 20px */
  --boxel-sp-lg: calc(var(--boxel-sp) * var(--boxel-ratio)); /* 26.66px */
  --boxel-sp-xl: calc(var(--boxel-sp-lg) * var(--boxel-ratio)); /* 35.54px */
  --boxel-sp-xxl: calc(var(--boxel-sp-xl) * var(--boxel-ratio)); /* 47.37px */
  --boxel-sp-xxxl: calc(var(--boxel-sp-xxl) * var(--boxel-ratio)); /* 63.15px */

  /* common icon sizes */
  --boxel-icon-sm: 1.25rem; /* 20px */
  --boxel-icon-lg: 2.5rem; /* 40px */
  --boxel-icon-xl: 3.75rem; /* 60px */
  --boxel-icon-xxl: 5rem; /* 80px */

  /* other */
  --boxel-border-color: var(--boxel-light-500);
  --boxel-border: 1px solid var(--boxel-border-color);
  --boxel-border-dark: 1px solid var(--boxel-dark);
  --boxel-border-radius-xs: 2px;
  --boxel-border-radius-sm: 5px;
  --boxel-border-radius: 10px;
  --boxel-border-radius-lg: 15px;
  --boxel-transition: 0.2s ease;
  --boxel-box-shadow: 0 1px 3px rgb(0 0 0 / 25%);
  --boxel-box-shadow-hover: 0 3px 10px rgb(0 0 0 / 15%);
  --boxel-outline-color: var(--boxel-blue);
  --boxel-outline: 2px solid var(--boxel-outline-color);

  /* Container sizes */
  --boxel-xxs-container: 15.625rem; /* 250px */
  --boxel-xs-container: 17.8125rem; /* 285px */
  --boxel-sm-container: 36.25rem; /* 580px */
  --boxel-md-container: 40.625rem; /* 650px */
  --boxel-lg-container: 43.75rem; /* 700px */
  --boxel-xl-container: 65rem; /* 1040px */
  --boxel-xxl-container: 83.76rem; /* 1340px */

  /* COLOR PALETTE */

  /**** Revisited Colors BOXEL-UI ****/
  --boxel-100: #f8f7fa;
  --boxel-200: #e8e8e8;
  --boxel-300: #d1d1d1;
  --boxel-400: #afafb7;
  --boxel-500: #5a586a;
  --boxel-600: #413e4e;
  --boxel-700: #272330;

  --boxel-cyan: #00ebe5;
  --boxel-teal: #03c4bf;
  --boxel-red: #ff5050;
  --boxel-pink: #ff009d;
  --boxel-orange: #ff7f00;
  --boxel-yellow: #ffd800;
  --boxel-lime: #c3fc33;
  --boxel-green: #37eb77;
  --boxel-dark-green: #00ac3d;
  --boxel-lilac: #a66dfa;
  --boxel-fuschia: #ac00ff;
  --boxel-purple: #6638ff;
  --boxel-blue: #0069f9;
  --boxel-navy: #281e78;

  --boxel-label-color: #a0a0a0;
  /**** End of revisited colors ****/

  /* Primary colors */
  --boxel-light: #fff;
  --boxel-dark: #000;

  --boxel-highlight: var(--boxel-teal);
  --boxel-danger: #ff4852;
  --boxel-danger-hover: #fa1521;

  /* Boxel purples */
  --boxel-purple-100: var(--boxel-100); /* 1 */
  --boxel-purple-200: var(--boxel-400); /* formerly: #b3b1b8; */
  --boxel-purple-300: var(--boxel-400); /* 4 */
  --boxel-purple-400: var(--boxel-500); /* formerly: #6b6a80; */
  --boxel-purple-500: var(--boxel-500); /* 5 */
  --boxel-purple-600: var(--boxel-600); /* 6 - Cardspace bg */
  --boxel-purple-700: var(--boxel-700); /* formerly: #393642; */
  --boxel-purple-750: var(--boxel-700); /* formerly: #363441; */
  --boxel-purple-800: var(--boxel-700); /* formerly: #2e2d38; */
  --boxel-purple-900: var(--boxel-700); /* 7 - Card Wallet bg */

  /* Boxel neutrals */
  --boxel-light-100: #f5f5f5;
  --boxel-light-200: var(--boxel-200); /* formerly: #f0f0f0; */
  --boxel-light-300: var(--boxel-200); /* formerly: #efefef; */
  --boxel-light-400: var(--boxel-200); /* 2 */
  --boxel-light-500: var(--boxel-300); /* formerly: #dedede; */
  --boxel-light-600: var(--boxel-300); /* 3 */

  /* Status colors */
  --boxel-error-100: #f00; /* alert - attention - error */
  --boxel-error-200: #ed0000;
  --boxel-warning-100: var(--boxel-yellow); /* warning - notification */
  --boxel-success-100: var(--boxel-green);
  --boxel-success-200: var(--boxel-teal);
  --boxel-success-300: var(--boxel-dark-green);

  /* z-index layers */
  --boxel-layer-modal-default: 15;
  --boxel-layer-modal-urgent: 20;

  /* Form control appearance */
  --boxel-form-control-height: 2.5rem; /* 40px */
  --boxel-form-control-placeholder-color: var(--boxel-400);
  --boxel-form-control-border-color: var(--boxel-400);
  --boxel-form-control-border-radius: var(--boxel-border-radius);
}

/** HOST APP STYLES **/

/* Go template */
.main {
  position: relative;
  display: grid;
  grid-template-columns: 15rem 1fr 1fr;
  min-height: 100vh;
}
.main__column {
  padding: var(--boxel-sp);
}
.main__column > * + * {
  margin-top: var(--boxel-sp);
}
.editor__column {
  display: flex;
  flex-direction: column;
}
.editor__menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: var(--boxel-sp-sm);
}
.editor__container {
  flex: 1;
}

/* FileTree template */
.file:hover {
  color: var(--boxel-highlight);
  cursor: pointer;
}
.directory.selected,
.file.selected,
.file:active {
  color: var(--boxel-highlight);
}
nav > .directory-level {
  padding-left: 0;
}
.directory-level {
  padding-left: 1em;
}

/* Modal */
.dialog-box {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
.dialog-box__content {
  padding: var(--boxel-sp);
  height: 100%;
  overflow: auto;
}
.dialog-box__content > * + * {
  margin-top: var(--boxel-sp);
}
.dialog-box__close {
  border: none;
  background: none;
  font: var(--boxel-font-lg);
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 0;
}
.dialog-box__close:hover {
  color: var(--boxel-highlight);
}

/* Other */
.schema,
.catalog-entry-editor {
  --boxel-label-color: var(--boxel-dark);
  display: grid;
  gap: var(--boxel-sp);
  padding: var(--boxel-sp);
}
.schema__new-field-type {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.add-new-field {
  border: var(--boxel-border);
}
.add-new-field > * + * {
  margin-top: var(--boxel-sp);
}

.card-catalog {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--boxel-sp);
  padding-left: 0;
}
.card-catalog > li > * + * {
  margin-top: var(--boxel-sp);
}

.error {
  color: var(--boxel-error-100);
}

/* Catalog Entry */
.catalog-entry {
  padding: var(--boxel-sp);
  display: grid;
  gap: var(--boxel-sp);
}
.catalog-entry > h1,
.catalog-entry > h2 {
  margin: 0;
}
.catalog-entry--edit {
  --boxel-label-color: var(--boxel-dark);
}

/* Default Card Component */
.isolated-card {
  --boxel-label-color: var(--boxel-dark);
  padding: var(--boxel-sp);
  display: grid;
  gap: var(--boxel-sp-lg);
}

/* LinksTo Editor */
.links-to-editor {
  padding: var(--boxel-sp);
}
.links-to-editor button {
  display: block;
  margin-top: var(--boxel-sp-sm);
  font: inherit;
  font-weight: 600;
  border: none;
  background-color: var(--boxel-light);
  padding: var(--boxel-sp-xxs) 0;
  text-transform: capitalize;
}
.links-to-editor button:hover {
  color: var(--boxel-highlight);
}

/* ContainsMany Editor */
.contains-many-editor {
  padding: var(--boxel-sp);
}
.contains-many-editor ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contains-many-editor ul > li + li {
  margin-top: var(--boxel-sp);
  padding-top: var(--boxel-sp);
  border-top: 1px solid var(--boxel-border-color);
}
.contains-many-editor button {
  display: block;
  margin-top: var(--boxel-sp-sm);
  font: inherit;
  font-weight: 600;
  border: none;
  background-color: var(--boxel-light);
  padding: var(--boxel-sp-xxs) 0;
  text-transform: capitalize;
}
.contains-many-editor button:hover {
  color: var(--boxel-highlight);
}

/* Boxel Card Container */
.boxel-card-container {
  position: relative;
  background-color: var(--boxel-light);
  border-radius: var(--boxel-border-radius);
  transition: max-width var(--boxel-transition),
    box-shadow var(--boxel-transition);
}
.boxel-card-container--boundaries {
  box-shadow: 0 0 0 1px var(--boxel-light-500);
}
.boxel-card-container--highlighted {
  box-shadow: 0 0 0 2px var(--boxel-highlight);
}

/* Boxel Header */
.boxel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--boxel-sp-xxxs) 0 var(--boxel-sp-sm);
  min-height: var(--boxel-header-min-height, 1.875rem); /* 30px */
  background-color: var(--boxel-header-background-color, var(--boxel-100));
  color: var(--boxel-header-text-color, var(--boxel-dark));
  border-top-right-radius: calc(var(--boxel-border-radius) - 1px);
  border-top-left-radius: calc(var(--boxel-border-radius) - 1px);
  font: 600 var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
  transition: background-color var(--boxel-transition),
    color var(--boxel-transition);
}
.boxel-header--large {
  padding: var(--boxel-sp-xl);
  font: 700 var(--boxel-font-lg);
  letter-spacing: normal;
  text-transform: none;
}
.boxel-header--no-background {
  background-color: transparent;
}
.boxel-header--highlighted {
  background-color: var(--boxel-highlight);
}
.boxel-header__content {
  display: flex;
  align-items: center;
}
.boxel-header__content button {
  --boxel-icon-button-width: var(--boxel-header-min-height, 1.875rem);
  --boxel-icon-button-height: var(--boxel-header-min-height, 1.875rem);

  min-height: var(--boxel-icon-button-height);
  padding: 0 var(--boxel-sp-xxxs);
  background: none;
  border: none;
  font: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

/* Boxel Field */
.boxel-field {
  --boxel-field-label-align: normal;
  --boxel-field-label-padding-top: 0;

  display: grid;
  gap: var(--boxel-sp-xs) 0;
}

.boxel-field--vertical {
  grid-template-rows: auto 1fr;
}

.boxel-field--centered-display {
  justify-items: center;
}

.boxel-field--centered-display > *:last-child {
  order: -1;
}

.boxel-field--horizontal {
  grid-template-columns: var(--boxel-field-label-size, minmax(4rem, 25%)) 1fr;
  gap: 0 var(--boxel-sp-lg);
}

.boxel-field--small-label {
  --boxel-field-label-size: minmax(4rem, 10%);
}

.boxel-field__label {
  display: flex;
  align-items: var(--boxel-field-label-align);
  padding-top: var(--boxel-field-label-padding-top);
}

.boxel-field--with-icon {
  display: flex;
}

.boxel-field__icon {
  width: var(--boxel-icon-sm);
  height: var(--boxel-icon-sm);
  margin-right: var(--boxel-sp-xxs);
}

.boxel-field__yield--with-icon {
  width: 100%;
}

/* Boxel Label */
.boxel-label {
  color: var(--boxel-label-color);
  font: 700 var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-sm);
}

/* Boxel Input */
.boxel-input {
  --boxel-input-height: var(--boxel-form-control-height);

  box-sizing: border-box;
  width: 100%;
  min-height: var(--boxel-input-height);
  padding: var(--boxel-sp-xs) 0 var(--boxel-sp-xs) var(--boxel-sp-sm);
  border: 1px solid var(--boxel-form-control-border-color);
  border-radius: var(--boxel-form-control-border-radius);
  font: var(--boxel-font-sm);
  font-weight: 400;
  letter-spacing: var(--boxel-lsp-xs);
  transition: border-color var(--boxel-transition);
}

.boxel-input:disabled {
  background-color: var(--boxel-light);
  border-color: var(--boxel-purple-300);
  color: rgb(0 0 0 / 50%);
  opacity: 0.5;
}

.boxel-input:hover:not(:disabled) {
  border-color: var(--boxel-dark);
}

.boxel-input--invalid {
  border-color: var(--boxel-error-100);
  box-shadow: 0 0 0 1px var(--boxel-error-100);
}

.boxel-input--invalid:focus {
  outline: 1px solid transparent; /* Make sure that we make the invalid state visible */
  box-shadow: 0 0 0 1.5px var(--boxel-error-100);
}

.boxel-input--invalid:hover:not(:disabled) {
  border-color: var(--boxel-error-100);
}

.boxel-input__optional {
  grid-row: 1;
  grid-column: 1 / -1;
  margin-bottom: var(--boxel-sp-xxxs);
  color: rgb(0 0 0 / 75%);
  font: var(--boxel-font-sm);
  font-style: oblique;
  letter-spacing: var(--boxel-lsp);
  text-align: right;
}

.boxel-input__error-message {
  grid-column: 2;
  margin-top: var(--boxel-sp-xs);
  margin-left: var(--boxel-sp-xs);
  color: var(--boxel-error-100);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.boxel-input__helper-text {
  grid-column: 2;
  margin-top: var(--boxel-sp-xs);
  margin-left: var(--boxel-sp-xs);
  color: rgb(0 0 0 / 75%);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.boxel-input:disabled ~ .boxel-input__error-message,
.boxel-input:disabled ~ .boxel-input__helper-text {
  display: none;
}

/* Boxel Message */
.boxel-thread-message {
  /* Note: avatar size should not be set to be larger than 60px or smaller than 20px. */
  --boxel-thread-message-avatar-size: 2.5rem; /* 40px. */
  --boxel-thread-message-meta-height: 1.25rem; /* 20px */
  --boxel-thread-message-gap: var(--boxel-sp);
  --boxel-thread-message-margin-left: calc(
    var(--boxel-thread-message-avatar-size) + var(--boxel-thread-message-gap)
  );
}

.boxel-thread-message--hide-meta {
  min-height: 0;
}

.boxel-thread-message__meta {
  display: grid;
  grid-template-columns: var(--boxel-thread-message-avatar-size) 1fr;
  grid-template-rows: var(--boxel-thread-message-meta-height);
  align-items: start;
  gap: var(--boxel-thread-message-gap);
}

.boxel-thread-message--full-width .boxel-thread-message__meta {
  align-items: center;
}

.boxel-thread-message__avatar-img {
  width: var(--boxel-thread-message-avatar-size);
  height: var(--boxel-thread-message-avatar-size);
  border-radius: 100px;
}

.boxel-thread-message__avatar-img--not-round {
  border-radius: initial;
}

.boxel-thread-message__info {
  display: flex;
  white-space: nowrap;
  margin: 0;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-sm);
}

.boxel-thread-message__name {
  margin-right: var(--boxel-sp);
  font-weight: 700;
}

.boxel-thread-message__time {
  color: var(--boxel-500);
}

.boxel-thread-message__content {
  /* mimic the grid using margins */
  margin-left: var(--boxel-thread-message-margin-left);
  margin-top: 3px;
  line-height: 1.5;
}

.boxel-thread-message--full-width .boxel-thread-message__content {
  margin-left: 0;
  margin-top: var(--boxel-sp);
}

/* spacing for sequential thread messages */
.boxel-thread-message + .boxel-thread-message {
  margin-top: var(--boxel-sp-xl);
}

.boxel-thread-message + .boxel-thread-message--hide-meta {
  margin-top: var(--boxel-sp);
}

/* Boxel Modal */
.boxel-modal {
  /* Unit is required to be used on calc */
  --boxel-modal-offset-top: 0px;
  --boxel-modal-offset-left: 0px;
  --boxel-modal-offset-right: 0px;

  position: fixed;
  width: 100%;
  height: calc(100vh - var(--boxel-modal-offset-top));
  top: var(--boxel-modal-offset-top);
  left: var(--boxel-modal-offset-left);
  right: var(--boxel-modal-offset-right);
  padding: 0 var(--boxel-sp);
  background: none;
  border: none;
  overflow: hidden;
  z-index: var(--boxel-modal-z-index);
  pointer-events: none;
}

.boxel-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  background-color: rgb(0 0 0 / 75%);
  text-align: left;
  z-index: calc(var(--boxel-modal-z-index) - 1);
}

.boxel-modal--small {
  --boxel-modal-max-width: 36.25rem; /* 580px */
}

.boxel-modal--medium {
  --boxel-modal-max-width: 43.75rem; /* 700px */
}

.boxel-modal--large {
  --boxel-modal-offset-top: var(--boxel-sp-lg);
  --boxel-modal-max-width: 65rem; /* 1040px */
}

.boxel-modal__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: var(--boxel-modal-max-width, 65rem);
}
.boxel-modal__inner > * {
  width: 100%;
  pointer-events: auto;
}

/* Invoice Packet */
.invoice-template {
  max-width: 50rem;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-xs);
  overflow: hidden;
}
.invoice-template h2 {
  margin-top: 0;
  margin-bottom: var(--boxel-sp);
  font: 700 var(--boxel-font);
}
.invoice-template--edit {
  --boxel-label-color: var(--boxel-dark);
}
.invoice {
  padding: var(--boxel-sp-xl);
  display: grid;
  gap: var(--boxel-sp-xxl) 0;
}

.line-items__title-row {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  margin-bottom: var(--boxel-sp-xxxs);
}
.line-items__title-row > *:nth-child(2) {
  justify-self: center;
}
.line-items__title-row > *:last-child {
  justify-self: end;
}
.line-items__rows {
  padding: var(--boxel-sp-lg) 0;
  border-top: 1px solid var(--boxel-200);
  border-bottom: 1px solid var(--boxel-200);
}
.line-items__rows > * + * {
  margin-top: var(--boxel-sp-xs);
}

.payment,
.payment-methods {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 var(--boxel-sp-xs);
}
.payment-method__item {
  display: inline-grid;
  grid-template-columns: var(--boxel-sp) 1fr;
  gap: var(--boxel-sp-xxxs);
  font: 700 var(--boxel-font);
}
.payment-methods__bal {
  margin-left: var(--boxel-sp-lg);
}

.balance-due {
  justify-items: end;
  text-align: right;
}
.balance-due__total {
  font: 700 var(--boxel-font-lg);
}

.extras {
  padding: var(--boxel-sp-xl);
  background-color: var(--boxel-100);
}

.notes,
.history {
  --boxel-border-radius: 20px;
  padding: var(--boxel-sp);
}
.notes > * + *,
.history > * + * {
  margin-top: var(--boxel-sp);
  padding-top: var(--boxel-sp);
  border-top: 1px solid var(--boxel-200);
}

.details {
  --boxel-field-label-size: 35%;
  --boxel-field-label-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--boxel-sp-xl);
}
.details--edit {
  padding: var(--boxel-sp);
}
.details__fields {
  display: grid;
  grid-gap: var(--boxel-sp) 0;
}

.line-item {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
}
.line-item__qty {
  justify-self: center;
}
.line-item__amount {
  justify-self: end;
}

.line-item--edit {
  display: grid;
  gap: var(--boxel-sp-sm);
}
.line-item__row {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  gap: var(--boxel-sp);
  align-items: end;
}

/* DEMO-CARDS */
.asset-card {
  display: inline-grid;
  grid-template-columns: var(--boxel-sp) 1fr;
  gap: var(--boxel-sp-xxxs);
}
.payment-method__currency {
  font: 700 var(--boxel-font);
}
.payment-method-card .boxel-field {
  margin-top: var(--boxel-sp);
}
.vendor-card .boxel-field + .boxel-field {
  margin-top: var(--boxel-sp);
}
.vendor-card--embedded {
  display: grid;
  grid-template-columns: 1fr auto;
}

.demo-card {
  padding: var(--boxel-sp);
  display: grid;
  gap: var(--boxel-sp);
}
.demo-card h2,
.demo-card h3 {
  margin: 0;
}
