:root {
  --grid-card-text-thumbnail-height: 6.25rem;
  --grid-card-label-color: #919191;
}

.card-isolated-component {
  padding: var(--boxel-sp-lg);
}

.error {
  color: var(--boxel-error-100);
}

.link {
  color: var(--boxel-highlight);
  text-decoration: underline;
}
.link:hover {
  color: var(--boxel-highlight-hover);
}

/* For all cards */
.edit-card.saved {
  padding: var(--boxel-sp-xl);
}

/* DEMO-CARDS */
.vendor-card .boxel-field + .boxel-field {
  margin-top: var(--boxel-sp);
}

.vendor-card--embedded {
  display: grid;
  grid-template-columns: 1fr auto;
}

.demo-card {
  display: grid;
  gap: var(--boxel-sp);
}

.demo-card h2,
.demo-card h3 {
  margin: 0;
}
