{{page-title "Animations"}}

<ul class="list-reset flex">
  <li class="mr-3">
    <LinkTo @route="index" class="inline-block border border-white rounded hover:border-grey-lighter text-blue hover:bg-grey-lighter py-1 px-3">
      Basics
    </LinkTo>
  </li>
  <li class="mr-3">
    <LinkTo @route="list-detail" class="inline-block border border-white rounded hover:border-grey-lighter text-blue hover:bg-grey-lighter py-1 px-3">
      List Detail
    </LinkTo>
  </li>
  <li class="mr-3">
    <LinkTo @route="ea-demos" class="inline-block border border-white rounded hover:border-grey-lighter text-blue hover:bg-grey-lighter py-1 px-3">
      e-animated Demos
    </LinkTo>
  </li>
  <li class="mr-3">
    <LinkTo @route="interruption" class="inline-block border border-white rounded hover:border-grey-lighter text-blue hover:bg-grey-lighter py-1 px-3">
      Interruptions 
    </LinkTo>
  </li>
  <li class="mr-3">
    <LinkTo @route="boxel" class="inline-block border border-white rounded hover:border-grey-lighter text-blue hover:bg-grey-lighter py-1 px-3">
      Boxel Demos
    </LinkTo>
  </li>
  <li class="mr-3">
    <LinkTo @route="routes" class="inline-block border border-white rounded hover:border-grey-lighter text-blue hover:bg-grey-lighter py-1 px-3">
      Route Transition
    </LinkTo>
  </li>
</ul>

{{outlet}}