name: CI Lint

on:
  push:
    branches: [main]
  pull_request:

permissions:
  checks: write
  contents: read
  id-token: write
  pull-requests: write

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    concurrency:
      group: lint-${{ github.head_ref || github.run_id }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/init
      - name: Lint AI Bot
        if: always()
        run: pnpm run lint
        working-directory: packages/ai-bot
      - name: Lint Boxel Motion
        # This addition to each step causes the job to proceed even if one lint job fails so we can see all errors
        if: always()
        run: pnpm run lint
        working-directory: packages/boxel-motion/addon
      - name: Build Boxel Motion
        # To faciliate linting of projects that depend on Boxel Motion
        if: always()
        run: pnpm run build
        working-directory: packages/boxel-motion/addon
      - name: Lint Boxel Motion Test App
        if: always()
        run: pnpm run lint
        working-directory: packages/boxel-motion/test-app
      - name: Lint Boxel Icons
        if: always()
        run: pnpm run lint
        working-directory: packages/boxel-icons
      - name: Build Boxel Icons
        # To faciliate linting of projects that depend on Boxel Icons
        if: always()
        run: pnpm run build
        working-directory: packages/boxel-icons
      - name: Lint Boxel UI
        if: always()
        run: pnpm run lint
        working-directory: packages/boxel-ui/addon
      - name: Build Boxel UI
        # To faciliate linting of projects that depend on Boxel UI
        if: always()
        run: pnpm run build
        working-directory: packages/boxel-ui/addon
      - name: Lint Boxel UI Test App
        if: always()
        run: pnpm run lint
        working-directory: packages/boxel-ui/test-app
      - name: Lint Boxel Motion
        if: always()
        run: pnpm run lint
        working-directory: packages/boxel-motion/addon
      - name: Build Boxel Motion
        # To faciliate linting of projects that depend on Boxel Motion
        if: always()
        run: pnpm run build
        working-directory: packages/boxel-motion/addon
      - name: Lint Boxel Motion Test App
        if: always()
        run: pnpm run lint
        working-directory: packages/boxel-motion/test-app
      - name: Lint Host
        if: always()
        run: pnpm run lint
        working-directory: packages/host
      - name: Lint Matrix
        if: always()
        run: pnpm run lint
        working-directory: packages/matrix
      - name: Lint Realm Server
        if: always()
        run: pnpm run lint
        working-directory: packages/realm-server
      - name: Lint Runtime Common
        if: always()
        run: pnpm run lint
        working-directory: packages/runtime-common
      - name: Lint Base Realm
        if: always()
        run: pnpm run lint
        working-directory: packages/base
      - name: Lint Catalog Realm
        if: always()
        run: pnpm run lint
        working-directory: packages/catalog-realm
      - name: Lint Experiments Realm
        if: always()
        run: pnpm run lint
        working-directory: packages/experiments-realm
      - name: Lint Boxel Tools VS Code extension
        if: always()
        run: pnpm run lint
        working-directory: packages/vscode-boxel-tools
