name: CI

on:
  push:
    branches: [main]
  pull_request:

env:
  VOLTA_FEATURE_PNPM: 1

permissions:
  contents: read
  id-token: write

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: volta-cli/action@v4
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Lint Boxel Motion
        # This addition to each step causes the job to proceed even if one lint job fails so we can see all errors
        if: always()
        run: pnpm run lint
        working-directory: packages/boxel-motion
      - name: Lint Boxel Motion Test App
        if: always()
        run: pnpm run lint
        working-directory: packages/boxel-motion-test-app
      - name: Lint Boxel Motion Demo App
        if: always()
        run: pnpm run lint
        working-directory: packages/boxel-motion-demo-app
      - name: Lint Host
        if: always()
        run: pnpm run lint
        working-directory: packages/host
      - name: Lint Matrix
        if: always()
        run: pnpm run lint
        working-directory: packages/matrix
      - name: Lint Realm Server
        if: always()
        run: pnpm run lint
        working-directory: packages/realm-server
  boxel-motion-test:
    name: Boxel Motion Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: volta-cli/action@v4
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Run Tests
        run: pnpm run test:ember
        working-directory: packages/boxel-motion-test-app
  boxel-ui-test:
    name: Boxel UI Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: volta-cli/action@v4
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Run test suite
        run: pnpm test
        working-directory: packages/boxel-ui
  host-test:
    name: Host Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: volta-cli/action@v4
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Build host dist/ for fastboot
        run: pnpm build
        env:
          NODE_OPTIONS: --max_old_space_size=4096
        working-directory: packages/host
      - name: Start realm servers
        run: pnpm start:all &
        working-directory: packages/realm-server
      - name: host test suite
        run: pnpm test-with-percy
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN_HOST }}
        working-directory: packages/host
  matrix-client-test:
    name: Matrix Client Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: volta-cli/action@v4
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps
        working-directory: packages/matrix
      - name: Build host dist/ for fastboot
        run: pnpm build
        env:
          NODE_OPTIONS: --max_old_space_size=4096
        working-directory: packages/host
      - name: Start realm servers
        run: pnpm start:without-matrix &
        working-directory: packages/realm-server
      - name: Run Playwright tests
        run: pnpm test
        working-directory: packages/matrix
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: packages/matrix/playwright-report/
          retention-days: 30
  realm-server-test:
    name: Realm Server Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: volta-cli/action@v4
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Build host dist/ for fastboot
        run: pnpm build
        env:
          NODE_OPTIONS: --max_old_space_size=4096
        working-directory: packages/host
      - name: Start base realm server
        run: pnpm start:all &
        working-directory: packages/realm-server
      - name: realm server test suite
        run: pnpm test:wait-for-servers
        working-directory: packages/realm-server
      - name: realm server DOM tests
        run: pnpm test:dom
        working-directory: packages/realm-server

  change-check:
    name: Check which packages changed
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    outputs:
      boxel: ${{ steps.filter.outputs.boxel }}
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            boxel:
              - '.github/actions/deploy-boxel-host/**'
              - '.github/actions/deploy-ember-preview/**'
              - '.github/actions/deploy-realm-server/**'
              - '.github/actions/waypoint-deploy/**'
              - '.github/workflows/waypoint-deploy.yml'
              - '.github/workflows/ci.yaml'
              - 'packages/base/**'
              - 'packages/boxel-ui/**'
              - 'packages/host/**'
              - 'packages/realm-server/**'
              - 'packages/runtime-common/**'
              - 'pnpm-lock.yaml'

  build-realm-server:
    name: Build realm-server
    needs: [change-check]
    if: ${{ needs.change-check.outputs.boxel == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: volta-cli/action@v4

      - name: Set up env
        shell: bash
        run: |
          echo "AWS_ROLE_ARN=arn:aws:iam::680542703984:role/waypoint" >> $GITHUB_ENV
          echo "WAYPOINT_SERVER_ADDR=${{ secrets.STAGING_WAYPOINT_SERVER_ADDR }}" >> $GITHUB_ENV
          echo "WAYPOINT_SERVER_TOKEN=${{ secrets.STAGING_WAYPOINT_SERVER_TOKEN }}" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Install Dependencies
        shell: bash
        run: pnpm install --frozen-lockfile

      - name: Install Waypoint
        run: |
          curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo apt-key add -
          sudo apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com $(lsb_release -cs) main"
          sudo apt-get install waypoint=${{ inputs.waypoint_version }}

      - name: Build app
        run: waypoint build -app=realm-demo -plain -push
        env:
          WAYPOINT_SERVER_TLS: "1"

  deploy-host:
    name: Deploy host to staging
    needs: [boxel-ui-test, host-test, realm-server-test, change-check]
    if: ${{ needs.change-check.outputs.boxel == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Deploy boxel-host if changes have happened
        uses: ./.github/actions/deploy-boxel-host
        with:
          environment: staging
          discord_webhook: ${{ secrets.DISCORD_WEBHOOK }}

  deploy-realm-server:
    name: Deploy realm server to staging
    needs: deploy-host
    runs-on: ubuntu-latest
    env:
      WAYPOINT_SERVER_TLS: "1"
    steps:
      - uses: actions/checkout@v3
      - uses: volta-cli/action@v4

      - name: Set up env
        shell: bash
        run: |
          echo "AWS_ROLE_ARN=arn:aws:iam::680542703984:role/waypoint" >> $GITHUB_ENV
          echo "WAYPOINT_SERVER_ADDR=${{ secrets.STAGING_WAYPOINT_SERVER_ADDR }}" >> $GITHUB_ENV
          echo "WAYPOINT_SERVER_TOKEN=${{ secrets.STAGING_WAYPOINT_SERVER_TOKEN }}" >> $GITHUB_ENV

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ env.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Install Dependencies
        shell: bash
        run: pnpm install --frozen-lockfile

      - name: Install Waypoint
        run: |
          curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo apt-key add -
          sudo apt-add-repository "deb [arch=amd64] https://apt.releases.hashicorp.com $(lsb_release -cs) main"
          sudo apt-get install waypoint=0.8.1

      - name: Deploy app
        run: waypoint deploy -app=realm-demo -plain -release=false

      - uses: ./.github/actions/waypoint-ecs-failsafe
        with:
          app: "realm-demo"

      - name: Prune dangling resources
        uses: ./.github/actions/waypoint-prune-dangling-resources
        with:
          app: "realm-demo"

      - name: Send notification to Discord
        if: ${{ always() }}
        uses: ./.github/actions/discord-notification-deploy
        with:
          app: ${{ inputs.app }}
          status: ${{ github.action_status }}
          environment: ${{ inputs.environment }}
          webhook: ${{ inputs.discord_webhook }}
          is_ecs: "true"
