name: CI

on:
  push:
    branches: [main]
  pull_request:

env:
  VOLTA_FEATURE_PNPM: 1

permissions:
  contents: read
  id-token: write

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: volta-cli/action@v4
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Lint Boxel Motion
        run: pnpm run lint
        working-directory: packages/boxel-motion
      - name: Lint Boxel Motion Test App
        run: pnpm run lint
        working-directory: packages/boxel-motion-test-app
      - name: Lint Boxel Motion Demo App
        run: pnpm run lint
        working-directory: packages/boxel-motion-demo-app
      - name: Lint Host
        run: pnpm run lint
        working-directory: packages/host
      - name: Lint Matrix
        run: pnpm run lint
        working-directory: packages/matrix
      - name: Lint Realm Server
        run: pnpm run lint
        working-directory: packages/realm-server
  boxel-motion-test:
    name: Boxel Motion Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: volta-cli/action@v4
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Run Tests
        run: pnpm run test:ember
        working-directory: packages/boxel-motion-test-app
  boxel-ui-test:
    name: Boxel UI Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: volta-cli/action@v4
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Run test suite
        run: pnpm test
        working-directory: packages/boxel-ui
  host-test:
    name: Host Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: volta-cli/action@v4
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Build host dist/ for fastboot
        run: pnpm build
        working-directory: packages/host
      - name: Start realm servers
        run: pnpm start:all &
        working-directory: packages/realm-server
      - name: host test suite
        run: pnpm test
        working-directory: packages/host
  matrix-client-test:
    name: Matrix Client Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: volta-cli/action@v4
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps
        working-directory: packages/matrix
      - name: Start realm servers
        run: pnpm start:all &
        working-directory: packages/realm-server
      - name: Run Playwright tests
        run: pnpm test
        working-directory: packages/matrix
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: packages/matrix/playwright-report/
          retention-days: 30
  realm-server-test:
    name: Realm Server Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: volta-cli/action@v4
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Build host dist/ for fastboot
        run: pnpm build
        working-directory: packages/host
      - name: Start base realm server
        run: pnpm start:all &
        working-directory: packages/realm-server
      - name: realm server test suite
        run: pnpm test:wait-for-servers
        working-directory: packages/realm-server
      - name: realm server DOM tests
        run: pnpm test:dom
        working-directory: packages/realm-server

  change-check:
    name: Check which packages changed
    needs: [boxel-ui-test, host-test, realm-server-test]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    outputs:
      host: ${{ steps.filter.outputs.host }}
      realm-server: ${{ steps.filter.outputs.realm-server }}
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            host:
              - 'packages/host/**'
              - 'packages/base/**'
              - 'packages/boxel-ui/**'
              - 'packages/runtime-common/**'
              - '.github/workflows/ci.yaml'
              - '.github/actions/deploy-boxel-host/**'
              - '.github/actions/deploy-ember-preview/**'
              - 'pnpm-lock.yaml'
            realm-server:
              - 'packages/realm-server/**'
              - 'packages/base/**'
              - 'packages/host/**'
              - 'packages/runtime-common/**'
              - '.github/workflows/ci.yaml'
              - '.github/actions/deploy-realm-server/**'
              - '.github/actions/waypoint-deploy/**'
              - 'pnpm-lock.yaml'

  host-deploy:
    name: Deploy host to staging
    needs: change-check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Deploy boxel-host if changes have happened
        if: ${{ needs.change-check.outputs.host == 'true' }}
        uses: ./.github/actions/deploy-boxel-host
        with:
          environment: staging
          discord_webhook: ${{ secrets.DISCORD_WEBHOOK }}

  realm-server-deploy:
    name: Deploy realm server to staging
    needs: [change-check, host-deploy]
    if: ${{ needs.change-check.outputs.realm-server == 'true' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # We are not currently using the realm-base server. Rather the base realm
        # and demo realm are both being hosted by the realm-demo server
        # app: [realm-base, realm-demo]
        app: [realm-demo]
    steps:
      - uses: actions/checkout@v3

      - name: Deploy ${{ matrix.app }}
        uses: ./.github/actions/deploy-realm-server
        with:
          app_name: ${{ matrix.app }}
          environment: staging
          discord_webhook: ${{ secrets.DISCORD_WEBHOOK }}
          production_waypoint_server_token: ${{ secrets.PRODUCTION_WAYPOINT_SERVER_TOKEN }}
          production_waypoint_server_address: ${{ secrets.PRODUCTION_WAYPOINT_SERVER_ADDR }}
          staging_waypoint_server_token: ${{ secrets.STAGING_WAYPOINT_SERVER_TOKEN }}
          staging_waypoint_server_address: ${{ secrets.STAGING_WAYPOINT_SERVER_ADDR }}
