name: CI [boxel-ui]

on:
  pull_request:
    paths:
      - "packages/boxel-ui/**"
      - "packages/boxel-icons/**"
      - ".github/workflows/pr-boxel-ui.yml"
      - "package.json"
      - "pnpm-lock.yaml"

permissions:
  contents: read
  issues: read
  checks: write
  pull-requests: write
  id-token: write
  statuses: write

jobs:
  check-if-requires-preview:
    name: Check if a preview deploy is required
    runs-on: ubuntu-latest
    outputs:
      boxel-ui-files-changed: ${{ steps.boxel-ui-files-that-changed.outputs.any_changed }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2
      - name: Get boxel-ui files that changed
        id: boxel-ui-files-that-changed
        uses: tj-actions/changed-files@2f7c5bfce28377bc069a65ba478de0a74aa0ca32 # 46.0.1
        with:
          files: |
            packages/boxel-ui/**
            packages/boxel-icons/**

  deploy-ui-preview-staging:
    name: Deploy a boxel-ui staging preview to S3
    runs-on: ubuntu-latest
    # github.event.pull_request.head.repo.full_name == github.repository: true if pr is from the original repo, false if it's from a fork
    # github.head_ref: the branch that the pull request is from. only appears on pull_request events
    if: github.event.pull_request.head.repo.full_name == github.repository && github.head_ref && needs.check-if-requires-preview.outputs.boxel-ui-files-changed == 'true'
    needs: check-if-requires-preview
    concurrency: deploy-ui-preview-staging-${{ github.head_ref || github.run_id }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # 4.2.2
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@ececac1a45f3b08a01d2dd070d28d111c5fe6722 # 4.1.0
        with:
          role-to-assume: arn:aws:iam::680542703984:role/boxel-ui
          aws-region: us-east-1
      - name: Deploy boxel-ui preview
        uses: ./.github/actions/deploy-ember-preview
        env:
          S3_PREVIEW_BUCKET_NAME: boxel-ui-preview.stack.cards
          AWS_S3_BUCKET: boxel-ui-preview.stack.cards
          AWS_REGION: us-east-1
          AWS_CLOUDFRONT_DISTRIBUTION: E14K8X1FKQ6Y6Z
        # If you change these, change the equivalent line in preview-comment.yml
        with:
          package: boxel-ui
          environment: staging

  post-preview-comment:
    name: Update preview comment
    needs:
      - deploy-ui-preview-staging
    if: ${{ always() && needs.deploy-ui-preview-staging.result == 'success' }}
    uses: ./.github/workflows/preview-comment.yml
    with:
      pr-number: ${{ github.event.pull_request.number }}
      head-sha: ${{ github.event.pull_request.head.sha }}
    secrets: inherit
